#gameboard {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    user-select: none;
}

td {
    border: 1px solid gray;
}

.wire{
    background: red;
}

.resistor{
    background: gray;
}

.vsource{
    background: green;
}

.csource{
    background: blue;
}

.capacitor{
    background: purple;
}

.button{
    background: orange;
}

.led{
    background: cyan;
}